#ui{
position: absolute;
bottom: -1200px;
margin-left: 120px;
}
#mn{
position: absolute;
bottom: -1350px;
padding-left: 120px;
font-size: small;
color: grey;
}
#pop{
position: absolute;
bottom: -1200px;
padding-left: 600px;
}
#opp{
    position: absolute;
    bottom: -1350px;
    padding-left: 600px;
    font-size: small;
    color: gray;
}
#even{
    position: absolute;
    bottom: -1200px;
    padding-left: 1030px;
}
#null{
    position: absolute;
    bottom: -1370px;
    padding-left:1030px;
    font-size: small;
    color: gray;
}
#skill{
    position: absolute;
    bottom: 380px;
    padding-left:1px;
    font-size: 40px;
}
#all{
    position: absolute;
    bottom: -2000px;
    padding-left: 140px;
}
.mark{
    background-color: white;
    width: 290px;
    height: 20px;
    border-radius: 20px;
}
#html{
    background-color: #009BDF;
    width: 250px;
    height: 20px;
    border-radius: 20px;
    color: white;
}
#css{
    color: white;
    background-color: #009BDF;
    width: 200px;
    height: 20px;
    border-radius: 20px;
}
#javascript{
    color: white;
    background-color: #009BDF;
    width: 170px;
    height: 20px;
    border-radius: 20px;
}

#python{
    background-color: #009BDF;
    width: 200px;
    height: 20px;
    color: white;
    border-radius: 20px;
}
#mysql{
    color: white;
    background-color: #009BDF;
    width: 180px;
    height: 20px;
    border-radius: 20px;
}
#exp{
    position: absolute;
    bottom: -1557px;
    padding-left: 750px;

}
#top1{
    color: #009BDF;
    position: absolute;
    bottom: -1650px;
    padding-left: 780px;
}
#para1{
    position: absolute;
    bottom: -1730px;
    padding-left: 780px;
    font-size: 15px;
}
#top2{
    color: #009BDF;
    position: absolute;
    bottom: -1800px;
    padding-left: 780px;
}
#para2{
    position: absolute;
    bottom: -1900px;
    padding-left: 780px;
    font-size: 15px;
}
#top3{
    color: #009BDF;
    position: absolute;
    bottom: -1980px;
    padding-left: 780px;
}
#para3{
    position: absolute;
    bottom: -2070px;
    padding-left: 780px;
    font-size: 15px;
}